

.Resume {
background-color: white
}

iframe {
    margin: 0 auto;
    display: block;
}

.Resume picture {
text-align: center;
}

.Resume body {
text-align: center;
}

.Resume main {
    text-align: center;
}
    