
/*
.Main {
    background-color: white;
    color: black;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
  }

  */

  p {
    color: black;
    font-family: 'Arial';
    padding: 1em; /* This will add padding to all <p> elements in your application */
  }
  